---
import DefaultPage from "../layouts/DefaultPage.astro"
---
<DefaultPage title="Розклад тренувань в Shigakukan DOJO - Айкідо в Києві">
    <div class="container-fluid">
        <div class="container bg-secondary border-radius-20">
            <div class="p-10">
                <div class="row">
                    <div class="cell-md-6 d-flex flex-column flex-justify-center">
                        <div class="text-bold fg-gray">SHIGAKUKAN DOJO</div>
                        <h1 class="text-bold mt-0">Розклад <span class="fg-red">Тренувань</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="p-10">
                <h3>Молодша дитяча група</h3>
                <div class="text-leader2">Тренування для дітей від 6 до 9 років</div>
                <div class="mt-6">
                    <table class="table striped table-border">
                        <thead>
                        <tr>
                            <th>День тижня</th>
                            <th style="width: 120px;">Час</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                Понеділок<br>
                                Середа<br>
                                П'ятниця
                            </td>
                            <td>17:00 - 18:00</td>
                        </tr>
                        <tr>
                            <td>
                                Вівторок<br>
                                Четвер<br>
                                Субота
                            </td>
                            <td>
                                17:00 - 18:00
                                <br><br>
                                11:00 - 12:00
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-6">
                    Тренування проводить:
                </div>
                <div class="h2 text-bold">
                    Сенсей Нікита Орлов, 3-й дан
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container border-top border-bottom bd-default">
            <div class="p-10">
                <h3>Старша дитяча група</h3>
                <div class="text-leader2">Тренування для дітей від 10 до 14 років</div>
                <div class="mt-6">
                    <table class="table striped table-border">
                        <thead>
                        <tr>
                            <th>День тижня</th>
                            <th style="width: 120px;">Час</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                Понеділок<br>
                                Середа<br>
                                П'ятниця
                            </td>
                            <td>18:15 - 19:40</td>
                        </tr>
                        <tr>
                            <td>
                                Вівторок<br>
                                Четвер<br>
                                Субота
                            </td>
                            <td>
                                18:15 - 19:40
                                <br><br>
                                12:15 - 13:40
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-6">
                    Тренування проводить:
                </div>
                <div class="h2 text-bold">
                    Сенсей Нікита Орлов, 3-й дан
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="p-10">
                <h3>Доросла група</h3>
                <div class="text-leader2">Тренування для підлітків від 15 років і до 99+</div>
                <div class="mt-6">
                    <table class="table striped table-border">
                        <thead>
                        <tr>
                            <th>День тижня</th>
                            <th style="width: 120px;">Час</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                Понеділок<br>
                                Середа<br>
                                П'ятниця
                            </td>
                            <td>20:00 - 21:30</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-6">
                    Тренування проводить:
                </div>
                <div class="h2 text-bold">
                    Сенсей Нікита Орлов, 3-й дан
                </div>
            </div>
        </div>
    </div>
</DefaultPage>
