---

---
<footer>
    <div class="container-fluid">
        <div class="container bg-third border-top bd-light">
            <div class="pt-6 pb-6 d-flex flex-align-center flex-justify-center flex-column reduce-2">
                <div>© 2024 by Shigakukan DOJO</div>
                <div>Розробка та супровід сайта - <a class="fg-white" href="https://pimenov.com.ua">Сергій Піменов</a></div>
                <div>Всі права збережено.</div>
            </div>
        </div>
    </div>
</footer>
<script src="/metroui/metro-5.0.10.js" is:inline></script>
